#screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
}

#bgCanvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#topCanvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.box {
    border-style: solid;
    border-width: 0px;
    border-color: red;
    padding: 10px;
}

#lPanel {
    background-color: rgba(95, 158, 160, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    
}

#rPanel {
    background-color:rgba(165, 42, 42, 0.3);
    position: fixed;
    bottom: 0;
    right: 0;
}

@media only screen and (orientation: portrait){
    #gridPanel {
        height: 80vh;
        width: 90vw;
        position: fixed;
        top: 10vh;
        left: 5vw;
    }
    #canvas {
        height: 100vh;
        width: 90vw;
        position: fixed;
        top: 0;
        left: 5vw;
    }
    #dom {
        height: 200vh;
        width: 90vw;
        position: absolute;
        top: 10vh;
        left: 5vw;
    }
    #bg {
        height: 200vh;
        width: 90vw;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .box {
        height: 8.9vh;
    }

}


@media only screen and (orientation: landscape) {
    #gridPanel {
        height: 84vh;
        width: 70vw;
        position: fixed;
        top: 8vh;
        left: 15vw;
    }
    #canvas {
        height: 100vh;
        width: 70vw;
        position: fixed;
        top: 0;
        left: 15vw;
    }
    #dom {
        width: 70vw;
        height: 300vh;
        position: absolute;
        top: 8vh;
        left: 15vw;
    }
    #bg {
        height: 300vh;
        width: 70vw;
        position: absolute;
        bottom: 0;
        left:0 ;
    }
    .domText {
        width: 100%;
    }
    .box {
        height: 9.3vh;
    }
}



